:root{
    --hao-color:#ff9854;
    /* --van-tabbar-item-font-size:50px; */
    --van-primary-color:var(--hao-color)
}
body{
    font-size:14px;
}
.topPage{
        position: relative;
        z-index: 9;
        background: white;
        height:100vh;
        overflow-y:auto ;
}
.icon_check {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(./img/detail/icon_check.png) 0 0 / 100% 100%;
  }